/* Copyright 2023 Taras Shabaranskyi
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

@use 'web.variables' as *;

$o-form-renderer-max-width: 3840px;
$o-form-view-sheet-max-width: 2560px;
