.first-buttons {
  margin-right: 100px;
  margin-left: 12px;
  margin-top: 10px;
}
.second-buttons {
  margin-left: 60px;
  margin-top: 10px;

}

.tick-icon {
  color: green;
}

.cross-icon {
  color: red;
}